<div class="navbar-header">
  <a class="navbar-brand" href="/">Jóganyilvántartás</a>  
</div>
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav" ng-show="user">
    <li ng-class="{ active: $state.includes('alkalom') }">
      <a ui-sref="alkalom">
        <i class="icon-home"></i>
        Alkalmak
      </a>
    </li>
    <li ng-class="{ active: $state.includes('jogasok') }">
      <a ui-sref="jogasok">
        <i class="icon-info-sign"></i>
        Jógázók
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li ng-hide="user"><a href="/signin">Sign in</a></li>
    <li ng-show="user"><a href="/signout">Sign out</a></li>
  </ul>
</div>