!!! 5
html(ng-app='bkJoga', ng-controller='AppCtrl')
  include ../includes/head
  body
    .container
      nav.navbar.navbar-default.navbar-fixed-top(role='nagivation', ng-include="'views/header.html'")
    .container
      .row
        block content
    hr
    //- include ../includes/foot

    block bodyend